<!--The content below is only a placeholder and can be replaced.-->

<app-navbar></app-navbar>

<div>
    <router-outlet></router-outlet>
</div>
<!-- <div [hidden]="!loading" class="loader">
    <h2>Loading...</h2>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div [hidden]="loading" class="router-output">
    <router-outlet></router-outlet>
</div> -->

<!-- <app-khalti></app-khalti> -->

<div class="footer-basic fixed-bottom pt-2" style="background-color: 	#baf8ba; height:50px;">
    <footer>
        <div class="social">
            <a href="https://www.instagram.com/bikas_vcs/" class=""><i class="fab fa-instagram"></i></a>
            <a href=""> <i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/bikash.sapkota.9847/"><i class="fab fa-facebook"></i> </a>
        </div>

        <p class="copyright">Organic Food Cart © 2021</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
